/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: 'Poppins', sans-serif;

}

body {
    line-height: 1.6;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Header Section */
header {
    background-color: #1d1b18;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #c59d5f;
}

.contact-btn .btn {
    background-color: #c59d5f;
    padding: 8px 12px;
    border-radius: 5px;
    color: #1d1b18;
    font-weight: bold;
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    background: url('../images/cafe-1618628_640.jpg') no-repeat center center/cover;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width: 500px;
    color: #fff;
}

.hero-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 20px;
}

.hero-buttons .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #c59d5f;
    color: #1d1b18;
}

.btn-secondary {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    transition: background 0.3s, color 0.3s;
}

.btn-secondary:hover {
    background: #fff;
    color: #1d1b18;
}


