body {
    font-family: Arial, sans-serif;
    background-color: #e0bb80;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #7e3e22;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: #7e3e22;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
